@charset "utf-8";
/* CSS Document */

body {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.7);
}

#body {
    max-width: 968px;
    margin: 20px auto;
    position: relative;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

pre {
    background:#F8F8FF;
    border: #000 dashed 1px;
    padding: 6px;
    overflow: auto;
}

em {
    color: #b24926;
}

button.general {
    background-color: #3778cc;
    color: #fff;
    font-weight:bold;
    border: none;
    padding: 5px 10px;
    box-shadow: 3px 4px 4px #c9c9c9;
    cursor: pointer;
    border-radius: 4px;
}

button.general.active, button.general:hover {
    background-color: #f6ae00;
    color: #fff;
}

#content {
    padding: 15px;
    border: 1px solid #c9c9c9;
    border-radius: 15px;
    box-shadow: 8px 8px 8px #c9c9c9;
    background-color: #fff;
}

#play_scorm {
    text-align: center;
}

.ui-state-error, .ui-state-highlight {
    padding: 10px;
}

@media (max-width:750px) {
    #body {
        width: 95%;
    }

    #play_scorm {
        max-width: 100%;
    }
}
